{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Josh classical furnitures</title>

  <!--SEO Meta Tags-->
  <meta name="description" content="E-commerce App" />
  <meta name="keywords" content=" shop,buy,kenya" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <link rel="shortcut icon" href="{% static 'favicon.ico'%}" type="image/x-icon">
  <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
  <link href="{% static 'css/vendor/material-icons.min.css' %}" rel="stylesheet" media="screen">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic">

  <script src="{% static 'js/vendor/jquery-2.1.4.min.js' %}"></script>
  <script src="https://js.braintreegateway.com/js/braintree-2.27.0.min.js"></script>
  <link href="{% static 'css/vendor/socicon.min.css' %}" rel="stylesheet" media="screen">

  <link href="{% static 'css/vendor/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/theme.min.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'js/vendor/page-preloading.js' %}"></script>
  <script src="{% static 'js/vendor/modernizr.custom.js' %}"></script>
</head>

<body class="page-preloading">

<div class="page-preloader">
    <div class="preloader">
      <img src="{% static 'img/preloader.gif' %}" alt="Preloader">
    </div>
  </div>
<div class="page-wrapper">


 <header class="navbar navbar-sticky">




      <nav class="main-navigation text-center">

        <ul class="menu">
          <li class="font"style="float:left;font-size:50px;color:blue;font-type:bold;margin-bottom:15px">
              <button value="Josh Classical Furnitures"style="height:65px;float:left;background-color:pink;border-radius:30%">
                  <a href="{% url 'shops:Home' %}" class="site-logo visible-desktop" style="color:#77cde3;float:left;font-size:25px;margin- bottom:7px">
        <span class="text-gray">Josh-</span>Classical Furnitures<span></span>
      </a>
          </button>
          </li>
          <li><a href="{% url 'shops:Home' %}">Home</a></li>
          <li class="menu-item-has-children current-menu-item">
            <a href="#">Shop</a>
            <ul class="sub-menu">
               <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Categories</a></li>
              {% for c in categories %}

              <li {% if category.slug == c.slug %} class="active"{% endif %}>
                  <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
              </li>
            {% endfor %}
              
            </ul>
          </li>
          <li><a href="#">Owino Technologies</a></li>
          <li><a href="{% url 'shops:Contact' %}">Report Problem</a></li>
          <li><a href="#">Josh Connect</a></li>
          <li><a href="{% url 'shops:reach' %}">Reach Me?</a></li>
          <li class="menu-item-has-children current-menu-item">
            <a href="#">My Services</a>
            <ul class="sub-menu">
               <li class="current-menu-item"><a href="#">Electrical Wiring</a></li>
               <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Drawing & Painting</a></li>
               <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Graphical Design</a></li>
                 <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Web Design & Development</a></li>
                 <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Software Development</a></li>
                 <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Networking & Computing</a></li>
                <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Home Furniture Fittings</a></li>
                <li class="current-menu-item"><a href="shop-fullwidth-sl.html">Any type of Furniture Solutions</a></li>
            </ul>
          </li>

            </ul>
          </li>
        </ul>
      </nav>

      <div class="toolbar">
        <div class="inner">
          <a href="#" class="mobile-menu-toggle"><i class="material-icons menu"></i></a>
          <a href="{% url 'shops:AddUser' %}"><i class="material-icons person"></i></a>
          {% if request.user.is_authenticated %}<a href="#" style="font-size:1em;"> {{request.user}}</a>{% endif %}

          <div class="cart-btn">
            <a href="{% url 'cart:cart_detail' %}">
              <i>
                <span class="material-icons shopping_basket"></span>
                <span id="scount" class="count">{% with totail_items=cart|length %}
                {% if cart|length > 0 %}

                        {{ totail_items }}

                    {% else %}
                    0.
                {% endif %}
            {% endwith %}</span>
              </i>
            </a>
            <!-- Cart Dropdown -->
            <div id="cart-dropdown" class="cart-dropdown">
              {% if request.user.is_authenticated %}
              <div class="cart-item">
                <h5>Welcome <span style="font-size:1em;color:#e08304;">:{{request.user}}</span>
                </h5>
              </div>
              {% endif %}


              <div class="cart-subtotal">
                <div class="column">
                  <span> {% with totail_items=cart|length %}
                {% if cart|length > 0 %}
                    My Furniture Order:
                        {{ totail_items }} item {{ totail_items|pluralize }},Total Kshs. {{ cart.get_total_price }}
                    {% else %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}</span>
                </div>
                <div class="column">
                  <span id="drop_amt" class="amount" style="color:#e08304;">Kshs. {{ cart.get_total_price }} </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% if messages %}
    <div class="row callout" class="fw-section bg-gray ">
      <div class="col-md-6 col-md-offset-4">
        <div class="row">
          {% for message in messages %}
          <div class="container-fluid">
            {% if message.tags == 'success' %}
            <div class="col-sm-2" style="background: #63D3E9;width: 60px;height: 50px;color:#fff;"><i
                class="material-icons" style="font-size:2em;padding-top:10px;text-align: center;">thumb_up</i></div>
            <div class="col-sm-10" style="color:#fff;background:#c6f3fb;height: 50px;">{{message}}</div>
            {% else %}
            <div class="col-sm-2 " style="background:#f36a5a;width: 60px;height: 50px;color:#fff;"><i
                class="material-icons" style="font-size:2em;padding-top:10px;text-align: center;">warning</i></div>
            <div class="col-sm-10" style="color:#fff;background-color:#ffb5ad;height: 50px;">{{message}}</div>
            {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}</div></body>